<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">you're looking for something that doesn't exist... enjoy this gif instead. :)</p>
            <img style="max-width: 100%;" src="img/polish-cow.gif">
        </LayoutView>
    </NotFound>
</Router>
