@page "/about"
@using System.Globalization
@inject IStringLocalizer<About> Loc

<PageTitle>moritz herbstmeier | @Loc["title"]</PageTitle>

<div class="heading-container">
    <h1 class="highlight ltext">@Loc["title"]</h1>
</div>

<div class="cv-container">
    <h3 class="mtext">
        @Loc["cv1"]
        <a class="link" href="https://drive.google.com/file/d/1sog8_f_paOaMBmQlJ6s6tFDpoVC96FD-/view?usp=sharing"
            target="_blank" rel="noopener noreferrer">@Loc["cv2"]</a>?
    </h3>
</div>

<div class="about-container">
    <div>
        <img src="img/bewfoto2.jpg" alt="">
        <div class="value-container">
            <span class="mtext">@Loc["value-head"]</span>
            <ul class="value-list">
                @foreach (var value in values)
                {
                    <li class="stext">@value</li>
                }
            </ul>
        </div>
    </div>

    <div>
        <div class="skills-container">
            <span class="mtext">@Loc["skill-head"]</span>
            <ul class="tags">
                @foreach (var skill in skills)
                {
                    <li class="highlight stext">@skill</li>
                }
            </ul>
        </div>

        @if (CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en")
        {
            <p class="bio stext">
                i graduated from HAW Hamburg with a bacherlor's degree (b.sc.) in <b>electrical and information
                    engineering</b>.
                i am a lifelong learner, no matter the topic. though i espescially enjoy <b>web development</b>,
                <b>embedded software development</b> and
                <b>electronic circuit design</b>.<br>
                i have always been a <b>creative</b> person. i started taking guitar lessons at age 9 and taught myself
                music production as a teen.
                <b>bouldering</b> is a passion of mine and offers a great sense of community among
                climbers.<br>
            </p>
        }
        else
        {
            <p class="bio stext">
                ich habe an der HAW Hamburg mein bachelorstudium in <b>elektrotechnik und informationstechnik</b> abgeschlossen.
                neues zu lernen ist für mich extrem wichtig, egal welches thema. besonders gerne vertiefe ich mein wissen in der
                <b>web-entwicklung</b>, <b>embedded-software-entwicklung</b> und dem <b>entwurf von elektronischen schaltungen</b>.
                ich war schon immer eine <b>kreative</b> person. mit 9 habe ich mit gitarrenunterricht begonnen und als teenager
                 habe ich mir musikproduktion beigebracht.
                <b>bouldern</b> ist eine leidenschaft für mich und bietet ein starkes gemeinschaftsgefühl unter kletterern.
            </p>
        }
    </div>


</div>

@code {
    private string[] values = { "" };
    private string[] skills = {
"TypeScript","C++","C#","Angular","HTML","CSS","Sass","ASP.NET","Blazor","SQL","VHDL","Arduino" };

    protected override void OnInitialized()
    {
        values = Loc["values"].ToString().Split(" ");
    }
}
