@page "/about"
@inject IStringLocalizer<About> Loc

<PageTitle>moritz herbstmeier | @Loc["title"]</PageTitle>

<div class="center-container">
    <div class="about-container">
        <div class="bio-container">
            <img src="img/titled.png" alt="">
            <p class="bio">@Loc["bio"]</p>
        </div>

        <div class="value-container">
            <span class="subhead">@Loc["value-head"]</span>
            <ul class="value-list">
                @foreach (var value in values)
                {
                    <li>@value</li>
                }
            </ul>
        </div>

        <div class="skills-container">
            <span class="subhead">@Loc["skill-head"]</span>
            <ul class="skill-list">
                @foreach (var skill in skills)
                {
                    <li class="highlight">@skill</li>
                }
            </ul>
        </div>
    </div>
</div>

@code {
    private string[] values = { "" };
    private string[] skills = { "typescript","angular","html","css","sass", ".net" ,"blazor", "python" ,"vhdl" ,"arduino",
"c" ,"c++" };

    protected override void OnInitialized()
    {
        values = Loc["values"].ToString().Split(" ");
    }
}
