@page "/about"
@inject IStringLocalizer<About> Loc

<PageTitle>moritz herbstmeier | @Loc["title"]</PageTitle>

<div class="about-container">
    <div>
        <img src="img/titled.png" alt="">
        <div class="value-container">
            <span class="subhead">@Loc["value-head"]</span>
            <ul class="value-list">
                @foreach (var value in values)
                {
                    <li>@value</li>
                }
            </ul>
        </div>
    </div>

    <div>
        <!--<p class="bio">@Loc["bio"]</p>-->
        <p class="bio">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam velit ipsa sunt culpa voluptas
            explicabo dignissimos adipisci omnis. Corporis similique asperiores consequatur quisquam ut maxime at
            debitis
            ullam commodi omnis.</p>
        <div class="skills-container">
            <span class="subhead">@Loc["skill-head"]</span>
            <ul class="tags">
                @foreach (var skill in skills)
                {
                    <li class="highlight">@skill</li>
                }
            </ul>
        </div>
    </div>


</div>

@code {
    private string[] values = { "" };
    private string[] skills = { "typescript","angular","html","css","sass", ".net" ,"blazor", "python" ,"vhdl" ,"arduino",
"c" ,"c++" };

    protected override void OnInitialized()
    {
        values = Loc["values"].ToString().Split(" ");
    }
}
