@inject IStringLocalizer<Projects> Loc

<div class="card-container">
    <span class="title highlight mtext">@project.title</span>
    <img src="@project.imagePath">
    <p class="description stext">@project.description</p>
    <ul class="tags">
        @foreach (var tag in project.tags)
        {
            <li class="stext highlight" @onclick="(args) => TagSelected(args, tag)">@tag</li>
        }
    </ul>
    <button>
        <a class="mtext" href="projects/@project.url">@Loc["card-button"]</a>
    </button>
</div>

@code {
    [Parameter]
    public Project project { get; set; } = new Project("", "", "", new List<string>().ToArray(), "");
    [Parameter]
    public EventCallback<string> OnTagSelected { get; set; }

    private async Task TagSelected(MouseEventArgs e, string name)
    {
        await OnTagSelected.InvokeAsync(name);
    }
}