@inject IStringLocalizer<Projects> Loc
@inject NavigationManager NavManager

<div class="card-container @((project.title=="redpoint")?"wip":"")">
    <span class="title highlight mtext">@Loc[project.title]</span>
    <img src="@project.imagePath">
    <p class="description stext">@Loc[project.description]</p>
    <ul class="tags">
        @foreach (var tag in project.tags)
        {
            <li class="stext highlight hover-box" @onclick="(args) => TagSelected(args, tag)">@tag</li>
        }
    </ul>
    <button class="mtext" @onclick="()=>NavToProject(project.url)">@Loc["card-button"]</button>
</div>

@code {
    [Parameter]
    public Project project { get; set; } = new Project("", "", "", new List<string>().ToArray(), "");
    [Parameter]
    public EventCallback<string> OnTagSelected { get; set; }

    private async Task TagSelected(MouseEventArgs e, string name)
    {
        await OnTagSelected.InvokeAsync(name);
    }

    private void NavToProject(string path)
    {
        NavManager.NavigateTo("projects/" + path);
    }
}