@inherits LayoutComponentBase
@using System.Globalization
@inject IStringLocalizer<MainLayout> Loc
@inject NavigationManager NavManager

<div class="page">
    <main>
        <div class="phone-menu-container @(hamburgerActive ? "" : "hidden")">
            @foreach (var path in paths)
            {
                <a class="mtext @((selectedPage==path) ? "active" : "")" @onclick="() => setSelectedPage(path)"
                href="@path">@Loc[path]</a>
            }
        </div>

        <div class="top-row @(hamburgerActive ? "active" : "")">
            <div class="hamburger-container" @onclick="toggleHamburger">
                <div></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
            @foreach (var path in paths)
            {
                <a class="mtext @((selectedPage==path) ? "active" : "")" @onclick="() => setSelectedPage(path)"
                href="@path">@Loc[path]</a>
            }
            <CultureSelector />
        </div>

        <article class="content">
            <div class="heading-container">
                @if (selectedPage == "home")
                {
                    <h1 class="ltext">moritz</h1>
                    <h1 class="last-name highlight ltext">herbstmeier</h1>
                }
                else
                {
                    <h1 class="highlight ltext">@Loc[selectedPage]</h1>
                }

            </div>
            <div class="body-container">
                @Body
            </div>
        </article>
    </main>
</div>
@code {
    private string selectedPage = String.Empty;
    private bool hamburgerActive = false;
    private string[] paths = new[]
    {
"home",
"about",
"projects"
};

    protected override void OnInitialized()
    {
        string currentUrl;
        currentUrl = NavManager.ToBaseRelativePath(NavManager.Uri);
        setSelectedPage(currentUrl);
    }

    public void setSelectedPage(string path)
    {
        selectedPage = path;
        hamburgerActive = false;
    }

    private void toggleHamburger()
    {
        hamburgerActive = !hamburgerActive;
    }
}
